@media screen and (max-width: 576px) {
  .hide-sm{
    display: none;
  }
  .hide-lg{
    display: initial;
 }  
 .navigation .nav-sec{
  padding-bottom: 2rem;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.navigation a{
  font-size: 1rem;
}
.nav-sec ul{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;  
}
  #home .home-text {
    text-align: center;
  }
  #home .home-text h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  #home .home-text h3 {
    font-size: 1rem;
  }
  #gender .gender {
    height: 30vh;
  }
  #gender {
    margin-top: -40%;
  }
  
  #bestdeals .swiper {
    height: 30vh ;
  }
  #bestdeals .swiper-slide img {
    height: 60%;
}
#bestdeals .swiper-slide .bestdeal-card{
  height: 40%;
  text-align: left;
}
.collection-img{
    height: 40vh;
}
.collectionimg{
    height: 30vh;
}
#newarrival .swiper {
    height: 50vh;
  }
  .urbanstories{
    height: 40vh;
}
.winter{
  height: 40vh;
}
.wintersmall{
  height: 20vh;
}
.collection1-img{
  height: 40vh;
}
#store .swiper {
  height: 60vh;
}
}